.u-clearfix::before,
.u-clearfix::after {
  content: " ";
  display: table;
}

.u-clearfix::after {
  clear: both;
}

body {
  background-color: #ffffff;
  color: #000000;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.artist {
  grid-area: artist;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  transform: rotate(-90deg);
  margin: 0;
  justify-self: end;
  align-self: center;
}

.firsttitle {
  grid-area: firsttitle;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 200px;
  margin: 0;
  line-height: 145px;
}

.smalltitle {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  transform: rotate(-90deg);
  text-align: right;
  justify-self: flex-end;
  align-self: end;
  margin: 5%;
}

.yellowsquare {
  grid-area: yellowsquare;
  background-color: #DFDA27;
}

.date {
  grid-area: date;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  transform: rotate(-90deg);
  text-align: right;
  justify-self: flex-end;
  align-self: end;
  margin: 5%;
}

.secondtitle {
  grid-area: secondtitle;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 200px;
  margin: 0 0 0 -75%;
  line-height: 145px;
}

.gridcontainer {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "artist firsttitle firsttitle" ". yellowsquare date" "secondtitle secondtitle secondtitle";
}
